
.imgRow{
    width: 100%;
    height: 200px;
    margin: 0px 0px;
    justify-content: center;
    align-items: center;

    img{
        width: 150px !important;
        height: 150px !important;
        position: relative;
        z-index: 999;
        border-radius: 50%;
        outline: 5px solid #8bd3dd;
        padding: 0px 0px !important;
        transition: 0.5s;

        &:hover{
            transform: scale(1.05);
            box-shadow: 0 0 10px #8bd3dd, 0 0 20px #8bd3dd, 0 0 30px #8bd3dd;
        }
    }
}

.contentRow{
    margin: 50px 0px !important;
    width: 100%;
    height: auto;

    .firstTxtBox, .secondTxtBox{
        display: flex;

        .defaultTxt{
            z-index: 999;
            background-color: #0f0c1b !important;
            padding: 10px;
            border-radius: 20px;

            
            >p{
                padding: 20px;
                letter-spacing: 0.5px;
                line-height: 35px !important;
                margin-bottom: 0px;
                >strong{
                    color: #8bd3dd;
                }
            }
            
            >ul{
                color: #fff;
                list-style: none;
                
                li{
                    line-height: 40px;
                }
            }
            
            >p, li{
                font: 400 18px 'Poppins', sans-serif;
            }
        }
        
        .presentationTxt{
            // Ver se arruma essa gambiarra com 12px que deixa o espacamento das duas caixas de texto iguais
            margin: 0px;
            margin-left: 150px;
            margin-right: 12px;
        }

        .profissionalTxt{
            margin: 0px;
            margin-right: 150px;   
       
            >button{    
                margin-left: 20px !important;
                font-size: 16px;
                margin-top: 21px !important;
            }
        }
        
        .divider{
            content: '';
            height: auto;
            width: 5px;
            background: #8bd3dd;
            position: relative;
            z-index: 999;
        }
    }

    .secondTxtBox{
        display: flex;
        padding-left: 0px;

    }

}
p, li{
    position: relative;
    z-index: 999;
}