// Margin left de 24px? 100px?
.buttonLng {
    max-height: 50px !important;
    max-width: 177px !important;
    position: relative !important;
    z-index: 1000 !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    font-weight: 700 !important;
    margin-top: 8px !important;
    padding: 10px 25px !important;
    transition: 0.5s !important;
    background: #13121d !important;
    color: #dddcdc !important;
    border-style: none !important;
    margin-left: 16px !important;

    >img{
        width: 45px;
        height: 30px;
        margin-right: 15px;
        border-radius: 5px;
    }

    &:hover {
        color: #fff !important;
        box-shadow: 0 0 10px #0f4b7c, 0 0 20px #0f4b7c, 0 0 30px #0f4b7c !important;
        transition-delay: 0.2s !important;
    }
}