#dropdown-basic{
    border-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 10px;
    background-color: #4692d1;

    img {
        height: 30px;
    }
}

