.main-content-home {
    margin-top: 50px;
    height: 500px;
    animation: homeAnimation 2s backwards;

    @keyframes homeAnimation {
        0% {
            transform: translateY(500px);
            opacity: 0;
        }

        50% {
            transform: translateY(-30px);
            opacity: 1;
        }

        100% {
            transform: translateY(0px);
        }

    }

    &>* {
        position: absolute;
        z-index: 9999;
    }

    .left-content {
        margin-top: 200px;

        .text-content {
            
            h1 {
                font-size: 50px;

                .name_span {
                    background: -webkit-linear-gradient(135deg, #8bd3dd 0%, #08b699 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .Typewriter {
                    width: 700px;
                    color: #8bd3dd;
                }

            }
        }
    }

    .col-md-5{
        
        >div {
            margin-left: 50px !important;
            margin-top: 70px !important;
        }
    }

    @media (max-width: 425px) {
        
        .mainRowHome{
            margin-top: 200px !important;
        }
        .left-content{
            padding: 0px;
        }
        
        .text-content {
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 0px;
        }

        .button-content{
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }


        .col-md-5 {
            padding: 0px;

            .lottie-box{
                margin-left: 0px !important;
            }
        }
      }
}