* {
    box-sizing: border-box;
}

h1{
    font-size: 60px !important;
    color: aliceblue;
}

#home{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 0;
    margin: 50px 0px;
    position: fixed;
    z-index: 999;

    #tsparticles{
        position: fixed !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        width: 100%;
        height: 100%;
    }

    .main-content-home{
        margin-left: 100px !important;
        display: flex;

        &>*{
            position: absolute;
            z-index: 9999;
        }

        .left-content{
            margin-top: 200px;
            width: 900px;
        }
    }
}