.navbar{    
    transition: all 0.4s ease-out 0s;
    background-color: transparent !important;
    width: 100%;
    animation: navbarAnimation 3s backwards;
        
    @keyframes navbarAnimation {
        0% {
            transform: translateY(-30px);
            opacity: 0;
        }

        50%{
            transform: translateY(0px);
            opacity: 1;
        }
    }
}

.navbar-scrolled{
    transition: all 0.4s ease-out 0s;
    box-shadow: 0 10px 10px 0 rgba(9,5,29,.171)!important;
    backdrop-filter: blur(10px);
    width: 100%;
}

@media (max-width: 1200px) {
    .navbar {
        backdrop-filter: blur(10px);
    }
}

.container {
    padding: 0px !important;
}

.icon-nav{
    font: 900 25px "Poppins", sans-serif;
    color: #8bd3dd !important;
    transition: 0.5s;

    &:hover {
        transform: scale(1.2);
    }
}

.navbar-toggler {
    position: relative !important;
    border-color: transparent !important;
    border: 0px 0px !important;
    padding: 0px 0px !important;
    box-shadow: 0px 0px !important;

    svg{
        display: block !important;
        font-size: 30px;
    }
}

.ms-auto{
    margin-left: 0px !important;
}

.nav-item{
    padding: 12px 16px;

    a.nav-link{
        position: relative;
        text-decoration: none !important;
        font: 16px 'Poppins', sans-serif;
        color: #FFF;
        letter-spacing: 1.5px;

        &::after {
            content: "";
            position: absolute !important;
            background-color: #8bd3dd;
            height: 5px;    
            width: 0;
            left: 0;
            bottom: -1px;
            transition: 0.1s;
            border-radius: 20px;
        }

        &:hover::after{
            width: 100%;
            border-bottom: 50%; 
        }
    }
}