.projects {
    animation: projectsAnimation 2s backwards;

    @keyframes projectsAnimation {
        0% {
            transform: translateY(500px);
            opacity: 0;
        }

        50% {
            transform: translateY(-30px);
            opacity: 1;
        }

        100% {
            transform: translateY(0px);
        }

    }

}

.calender-github {
    margin-bottom: 100px !important;
}

.calender-github,
.projects {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
    z-index: 999;


    .project-card {
        margin-top: 40px;


        li {
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-right: 5px;
            margin-left: 5px;
        }
    }

}

@media (max-width: 768px) {

    .title {
        text-align: center;
    }
    .row {
        display: block !important;
    }
}