.skills{
    animation: skillsAnimation 1.5s backwards;

    @keyframes skillsAnimation {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }
    
}

.skills,
.tools {
    margin-bottom: 100px;
    position: relative;
    z-index: 999;

    .cardRow {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        
        .col-md-3 {
            margin-top: 40px;
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }


    @media (max-width: 425px) {
       h1{
        text-align: center;
       }
       
      }

      @media (max-width: 320px) {
        .cardRow, .col-md-3{
            width: 320px !important;
            margin: 0px;
        }
    }
}